# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Documentation
doc/api/

# Environment
.env*

# Coverage
coverage/

# Generated JS
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# Flutter (safe to ignore even for Dart CLI)
.flutter-plugins
.flutter-plugins-dependencies
